* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333333;
    font-family: "Roboto",Helvetica,Arial,sans-serif;;
}

.container {
    padding: 0 5%;
    background-color: #eeeeee;
    margin: 2% 10%;
}

.h1 {
    text-align: center;
    padding: 5% 0 2% 0;
    margin: 0;
    font-size: 3.6rem;
    font-weight: 400;

}

.h3 {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: #333333;
}

.p1 {
    margin-top: 2%;
    text-align: center;
    font-size: 1.5rem;
}

.intro {
    margin-top: 1%;
    border: 1px solid #e1e1e1;
}
.image {
    margin-top: 2%;
    border: 1px solid #e1e1e1;
}

img {    
    border-radius: 70%;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}

.image p {
    border-radius: 5px;
    margin: .5%;
    padding: 1%;
    text-align: center;
    background-color: #dddddd;
}

h2 {
    margin-top: 3%;
    font-weight: 400;
}

ul {
    padding-left: 40px;
    margin: 16px 0;
    font-size: .9rem;
}

.last {
    text-align: center;
    font-style: italic;
}